<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    
<link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>

    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
          <div class="nav-title">
            SocioCollabs
          </div>
        </div>
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="/">Home</a>
          <a href="/dashboard" target="_blank">Dashboard</a>
          <!--<a href="#" target="_blank">About us</a>-->
          <!--<a href="#contact-form" target="_blank">Contact</a>-->
          <a href="/login" target="_blank">Login</a>
          <a href="/register" target="_blank">Register</a>
        </div>
      </div>
